{% block input %}
  <div class="box column is-full is-full-mobile">
    <form class="is-fullwidth">
        <textarea autofocus class="textarea has-fixed-size" type="text" placeholder="Enter some text or upload a file, and click Begin Scan" rows="12" style="border: none; box-shadow: none"></textarea>
        <div class="custom-buttons container is-flex is-align-items-center">
          <button class="button is-primary mr-2">Begin Scan</button>
          {% with icon = 'upload' %}
            {% include 'icons.html' %}
          {% endwith %}
        </div>
      </form>
  </div>
{% endblock %}