{% block input %}
  <div class="custom-form-container column p-0 box is-full is-full-mobile is-clipped">
    <div class="custom-conatainer column is-full">
      <form id="form" class="is-fullwidth" method="POST" enctype="multipart/form-data">
        <textarea autofocus class="textarea has-fixed-size p-0" type="text" placeholder="Enter some text or upload a file, and click Begin Scan" rows="12" style="border: none; box-shadow: none"></textarea>
        <div class="custom-buttons container is-flex is-align-items-center">
          <div>
            <button class="scan button is-primary mr-2 has-text-weight-bold" type="button" style="width: 116px">Scan</button>
            <button class="deep-scan button is-primary is-outlined mr-2 has-text-weight-bold" type="button">Deep Scan</button>
          </div>
          {% include './components/upload.html' %}
        </div>
      </form>
    </div>

      {% include './components/form-success.html' %}
      {% include './components/form-success-details.html' %}
      {% include './components/form-error.html' %}
      {% include './components/form-server-error.html' %}
      {% include './components/form-loading.html' %}
      {% include './components/notification.html' %}
  </div>
{% endblock %}