<div class="custom-form-success has-background-primary has-text-white ">
  <div class="custom-form-success-content is-flex is-flex-direction-column is-align-items-center is-justify-content-space-between">
    <h3 class="is-size-5 has-text-weight-bold has-text-centered has-text-white">Results</h3>
    <div class="custom-form-success-container is-fullwidth"></div>
    <div class="is-flex is-justify-content-center">
      <button class="button see-details-button mr-2 is-primary is-inverted is-outlined has-text-weight-bold" type="button">See Details</button>
      <button class="button clear-button is-primary has-text-weight-bold" type="button">Clear</button>
    </div>
  </div>
</div>